<div>
    <h2>Restaurant List</h2>
    <hr>
    <div ng-repeat="restaurant in restaurants track by $index">
        <div>
            <div>
                <a ng-click="loadInfo($index)" style="cursor:pointer;" ><h3>{{restaurant.name}}</h3> </a>
                <div class="pull-right"><h4>{{restaurant.phone}}</h4></div>
            </div>
            <div>{{restaurant.email}}</div>
            <div>{{restaurant.address}}</div>
            <div><span ng-repeat="cuisine in restaurant.cuisineArr track by $index">{{cuisine}} </span></div>
        </div>
    </div>
</div>